{% extends 'employees\employee_base.html' %}

{% block title %} employee Profile Edit {% endblock %}

<!--{% block header %} Update Your Information {% endblock %}-->

{% block content %}
<br />
<form action="{% url 'employees:edit_profile' %}" method="post">
    {% csrf_token %}
<table  margin="auto">
    <col style = "width: 200px">
    <tr><td align="left">Name:</td> <td align="left"><input type="text" name="name" id="name" value="{{logged_in_employee.name}}"></td></tr>
    <br />
    <br />
    <tr><td align="left">Address:</td> <td align="left"> <input type="text" name="address" id="address" value="{{logged_in_employee.address}}"></td></tr>
    <br />
    <br />
    <tr><td align="left">Zip Code:</td> <td align="left"> <input type="text" name="zip_code" id="zip_code" value="{{logged_in_employee.zip_code}}"></td></tr>
    <br />
    <br />
    <tr><td align="left">Weekly Pickup Day: </td> <td align="left"><input type="text" name="weekly" id="weekly" value="{{logged_in_employee.weekly_pickup}}"></td></tr>
</table>
    <br />
    <br />
    <input class = "btn-primary" type="submit" value="Submit">
</form>

{% endblock %}