

{% extends 'employees\employee_base.html' %}

{% block title %} Employee Home {% endblock %}

{% block header %} Employee Portal {% endblock %}

{% block content %}
  {% if user.is_authenticated %}
        Hello {{ logged_in_employee.name }}!<br />
        Address: {{ logged_in_employee.address }} {{logged_in_employee.zip_code }}<br />
  Current balance: $ {{ logged_in_employee.balance }}.00
        <br />
        <br />
        {% if today > logged_in_employee.suspend_start and today < logged_in_employee.suspend_end %}
          Your pickups are suspended until {{ logged_in_employee.suspend_end }}

        {% endif %}

  {% else %}
    <p>You are at the employee index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}
{% endblock %}