{% extends 'employees\employee_base.html' %}

{% block title %} Employee Pickup List {% endblock %}
{% block content %}
<br />
<form action="{% url 'employees:pickup_list' %}" method="post">
<h1>Pickup Routes</h1>
<head>
</head>
<p>
    {%csrf_token%}

<table class = "table table-hover">
  <thead>
    <tr>  
        <th>Name</th>
        <th>Weekly Pickup</th> 
        <th>Confirm Pickup </th>
        <th>One Time Pickup</th> 
        <th>Active</th> 
        <th>Date of last pickup</th>
    </tr>  
  </thead>
  <tbody>
    {% for customer in customer_zip%}     
    <tr><td>{{customer.name}} </td> 
        <td>{{customer.weekly_pickup}}</td> 
        <td><button type="button" class="btn-primary"><a class="btn-link" href = "{% url 'employees:pickup_confirm' customer.id %}" >Confirm</a></button></td>
        <td>{{customer.one_time_pickup}}</td>
        {% if customer.suspend_start <= curr_date and customer.suspend_end >= curr_date %}
        <td> NO </td>
        {% else %}
        <td> YES </td>
        {% endif %}
        <td>{{customer.date_of_last_pickup}}</td>
    </tr>
    {%endfor%}
  </tbody>
</table>
<h1>Select Day</h1>
<button type="button" class="btn-primary"><a class="btn-link" href = "{% url 'employees:sunday' %}">Sunday</a></button>
<button type="button" class="btn-primary"><a class="btn-link" href = "{% url 'employees:monday' %}">Monday</a></button>
<button type="button" class="btn-primary"><a class="btn-link" href = "{% url 'employees:tuesday' %}">Tuesday</a></button>
<button type="button" class="btn-primary"><a class="btn-link" href = "{% url 'employees:wednesday' %}">Wednesday</a></button>
<button type="button" class="btn-primary"><a class="btn-link" href = "{% url 'employees:thursday' %}">Thursday</a></button>
<button type="button" class="btn-primary"><a class="btn-link" href = "{% url 'employees:friday' %}">Friday</a></button>
<button type="button" class="btn-primary"><a class="btn-link" href = "{% url 'employees:saturday' %}">Saturday</a></button>
<button type="button" class="btn-primary"><a class="btn-link" href = "https://www.youtube.com/watch?v=dQw4w9WgXcQ">Holiday</a></button>







</ul>
</p>
{% endblock %}
