{% extends 'employees\employee_base.html' %}

{% block title %} Employee Pickup List {% endblock %}
{% block content %}
<br />
<form action="{% url 'employees:pickup_list' %}" method="post">
<head>Pickup Routes</head>
<p>
    {%csrf_token%}

<table border=5>
    <tr>  
        <th>&nbsp;&nbsp;&nbsp;Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
        <th>&nbsp;&nbsp;&nbsp;Weekly Pickup&nbsp;&nbsp;&nbsp;</th> 
        <th>Confirm Pickup </th>
        <th>&nbsp;&nbsp;&nbsp;One Time Pickup&nbsp;&nbsp;&nbsp;</th> 
        <th>&nbsp;&nbsp;&nbsp;Active&nbsp;&nbsp;&nbsp;</th> 
        <th>&nbsp;&nbsp;&nbsp;Date of last pickup&nbsp;&nbsp;&nbsp;</th>
    </tr>  
    {% for customer in customer_zip%}     
    <tr><td>&nbsp;&nbsp;&nbsp;{{customer.name}} </td> 
        <td>&nbsp;&nbsp;&nbsp;{{customer.weekly_pickup}}</td> 
        <td><button><a href = "{% url 'employees:pickup_confirm' customer.id %}">Confirm</a></button></td>
        <td>&nbsp;&nbsp;&nbsp;{{customer.one_time_pickup}}</td> 
        <td>&nbsp;&nbsp;&nbsp;{{customer.is_active}}</td> 
        <td>&nbsp;&nbsp;&nbsp;{{customer.date_of_last_pickup}}</td>
    </tr>
    {%endfor%}
</table>







</ul>
</p>
{% endblock %}
